@import url("https://fonts.googleapis.com/css?family=Raleway:400,400i,700");

img {
    position: relative;
    top: -250px;
    border: 3px dashed #198ce6;
}
body {
    background: black;
    color: white;
    font-family: Raleway;
    margin: 100px 60px;
    overflow: hidden;
}

section {
    display: none;
    /* display: flex; */
}


section > * {
    width: 50%;
}

section img {
    transition: 0.3s;
    opacity: 1;
}

h1 {
    font-size: 60px;
    -webkit-text-stroke: 2px #198ce6;
    color: transparent;
}

p {
    line-height: 40px;
    padding-right: 30px;
}

.buttons {
     display: flex;
    flex-direction: row;
    align-items: start;
    list-style-type: none;
    column-gap: 20px;
    margin: 50px auto;
}
.buttons button {
    border: none;
    padding: 6px 0;
    position: relative;
    display: block;
    padding: 4px 0;
    font-size: 3em;
    font-weight: 700;
    font-family: raleway;
    text-decoration: none;
    text-transform: uppercase;
    -webkit-text-stroke: 2px #198ce6;
    background: linear-gradient(#198ce6 0 100%) left/0 no-repeat;
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: 0.5s linear;
}

.buttons button:hover {
    background-size: 100%;
}

.buttons .selected {
    background-size: 100%;
}


@media (max-width: 1300px){
    h1 {
        width: 40%;
    }

    .buttons button {
        font-size: 30px;
    }

}
@media (max-width: 1000px){
    body {
        overflow-y: scroll;
    }
    h1 {
        width: 100%;
    }

    section {
        flex-direction: column;
    }

    section > * {
        width: 100%;
    }

    .content p {
        width: 100%;
    }

    p {
        text-align: justify;
    }

    img {
       display: block;
       position: static;
    }
}


/* Animation for tabs */
.sectionAnimation {
    display: flex;
    animation: sectionAnimation 1s;
}

@keyframes sectionAnimation {
    from {
        opacity: 0;
    }

    tp {
        oapcity: 1;
    }
}

